h1{
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    font-size: 56px;
    text-align: center;
    padding-top: 15px;
    padding: 20px;
}
h2{
    font-family: 'Inria Serif', serif; 
    font-size: 24px;
    text-align:center;
    color: #E1B326;
}
.container{
    margin: auto;
    padding: 20px;
    
}
.card{
    padding: 20px;
    border-radius: 15px;
    border-color: #8F4B0F;
    border-width: 1px;
    text-align:justify;
}
img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding:25px;
    border-radius: 50px;
}
.card-body{
    justify-content: center;
    text-align: center;
}

